:root {
    --indent-level: 0;
    --field-negative-horizontal-margin: 0px;
    --field-row-children-spacing: 0px
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_LatestNews_2j9no .blogentrypage_LatestNewsContainer_3_5ne {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

* {
    box-sizing: border-box;
    font-family: "Radiance", "Noto Sans", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Radiance", "Noto Sans", sans-serif;
}

.blogentrypage_BlogEntryPage_3PVZq {
    width: 100%;
    color: #fff;
    background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/outlanders/patch-notes/bg_repeater.jpg);
    background-color: #15171b;
    position: relative;
}








.blogentrypage_Tooltip__QaYP {
    text-transform: uppercase;
    letter-spacing: 1px
}

.blogentrypage_CarouselFade_5eGBM {
    mask-image: linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%)
}


.blogentrypage_StandardButton_axn8m {
    border: 3px solid rgba(255, 255, 255, .3137254902);
    padding: 15px 25px;
    margin: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition-duration: .2s
}

.blogentrypage_StandardButton_axn8m:hover {
    border: 3px solid #ff6046;
    transform: translateY(-2px);
    color: #ff6046
}

.blogentrypage_StandardButton_axn8m .blogentrypage_ButtonText_2kUH4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff
}

.blogentrypage_StandardButton_axn8m .blogentrypage_Icon_2DiH7 {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat
}

.blogentrypage_StandardButton_axn8m .blogentrypage_Icon_2DiH7.blogentrypage_Play_PEnJc {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg")
}

.blogentrypage_StandardButton_axn8m .blogentrypage_SteamLogo_-z4m9 {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg")
}

.blogentrypage_ToolTip_26Ws8 {
    background-color: #36363e;
    color: #ddd;
    max-width: 250px;
    border: 1px solid #2d2d33;
    border-radius: 3px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    z-index: 99999
}

.blogentrypage_BlogEntryPage_3PVZq {
    width: 100%;
    color: #fff;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/outlanders/patch-notes/bg_repeater.jpg");
    background-color: #15171b;
    position: relative
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_CommunityLink_-1Ftw {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 5px 20px;
    background-color: #2a2e36;
    border: 1px solid #565e6e;
    color: #fff;
    z-index: 10000
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_CommunityLink_-1Ftw:hover {
    filter: brightness(1.2)
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_TitleContainer_24V3X {
    width: 100%;
    height: 500px;
    z-index: 5;
    position: relative;
    margin-bottom: -275px;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);
    mask-image: linear-gradient(to top, transparent 25%, black 100%)
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_TitleContainer_24V3X .blogentrypage_TitleBackground_2Jkng {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/blog/default_header.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_TitleContainerInClient_37vS7 {
    width: 100%;
    height: 500px;
    z-index: 5;
    position: relative;
    margin-bottom: -400px;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);
    mask-image: linear-gradient(to top, transparent 25%, black 100%)
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_TitleContainerInClient_37vS7 .blogentrypage_TitleBackground_2Jkng {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/blog/default_header.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0
}

@keyframes blogentrypage_loading-in_14IUI {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@-webkit-keyframes blogentrypage_loading-in_14IUI {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_BackToOverview_3yBA_ {
    position: relative;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    text-shadow: 0px 0px 4px #000;
    z-index: 200
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_BackToOverview_3yBA_:hover {
    filter: brightness(2)
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_BackToOverview_3yBA_ .blogentrypage_BackArrow_mC3pI {
    width: 20px;
    height: 20px;
    filter: opacity(0.8);
    margin-top: 1px;
    margin-right: 8px
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_BackToOverview_3yBA_:hover .blogentrypage_BackArrow_mC3pI {
    filter: brightness(2)
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Title_2HW6u {
    padding: 0px 18vw;
    position: relative;
    font-size: 60px;
    line-height: 115%;
    text-align: center;
    font-family: "Reaver", serif;
    font-weight: 700;
    z-index: 10;
    text-shadow: 0px 0px 10px #000, 0px 0px 5px #000;
    margin-bottom: 20px;
    margin-top: 20px;
    animation-name: blogentrypage_loading-in_14IUI;
    animation-duration: 1.5s
}

@media(max-width: 600px) {
    .blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Title_2HW6u {
        font-size: 36px
    }
}

@media(max-width: 375px) {
    .blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Title_2HW6u {
        font-size: 30px
    }
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Date_2JNhX {
    font-size: 20px;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
    animation-name: blogentrypage_loading-in_14IUI;
    animation-duration: 1.5s
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv {
    padding: 0px 50px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    white-space: pre-wrap;
    font-size: 22px;
    line-height: 150%;
    font-family: "Radiance", sans-serif;
    font-weight: lighter;
    letter-spacing: .5px;
    color: rgba(255, 255, 255, .8);
    animation-name: blogentrypage_loading-in_14IUI;
    animation-duration: 1.5s
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv .blogentrypage_Body_30GVv::first-line {
    color: red
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv span {
    color: #fff
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv iframe,
.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv img {
    width: 100%
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid #999;
    transition-duration: .2s
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv a:visited {
    color: #fff
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_Body_30GVv a:hover {
    color: #ff6046;
    border-bottom: 2px solid #ff6046
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_LatestNews_2j9no {
    width: 100%;
    padding: 100px 14vw;
    margin: auto
}

@media(max-width: 1200px) {
    .blogentrypage_BlogEntryPage_3PVZq .blogentrypage_LatestNews_2j9no {
        padding: 100px 0vw
    }
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_LatestNews_2j9no .blogentrypage_LatestNewsHeader_rLc6u {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 10px
}

.blogentrypage_BlogEntryPage_3PVZq .blogentrypage_LatestNews_2j9no .blogentrypage_LatestNewsContainer_3_5ne {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.blogentrypage_BlogEntryPage_3PVZq h2 {
    font-size: 25px
}

* {
    box-sizing: border-box;
    font-family: "Radiance", "Noto Sans", sans-serif
}


.blogcapsule_StandardButton_3Ep64 {
    border: 3px solid rgba(255, 255, 255, .3137254902);
    padding: 15px 25px;
    margin: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition-duration: .2s
}

.blogcapsule_StandardButton_3Ep64:hover {
    border: 3px solid #ff6046;
    transform: translateY(-2px);
    color: #ff6046
}

.blogcapsule_StandardButton_3Ep64 .blogcapsule_ButtonText_3L4H5 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff
}

.blogcapsule_StandardButton_3Ep64 .blogcapsule_Icon_38Jn9 {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat
}

.blogcapsule_StandardButton_3Ep64 .blogcapsule_Icon_38Jn9.blogcapsule_Play_1b03Q {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg")
}

.blogcapsule_StandardButton_3Ep64 .blogcapsule_SteamLogo_2zGXC {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg")
}

.blogcapsule_ToolTip_3RzoY {
    background-color: #36363e;
    color: #ddd;
    max-width: 250px;
    border: 1px solid #2d2d33;
    border-radius: 3px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    z-index: 99999
}

.blogcapsule_BlogCapsule_3OBoG {
    width: 400px;
    height: 245px;
    margin: 15px;
    justify-items: center;
    position: relative;
    flex-wrap: wrap
}

@media(max-width: 600px) {
    .blogcapsule_BlogCapsule_3OBoG {
        flex: 1 1 50%;
        margin: 10px
    }
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333;
    position: relative;
    background-size: cover;
    background-position: top;
    border-bottom: 2px solid #555;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 10px #000;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//blog/default_cover.jpg");
    text-align: left;
    cursor: pointer;
    user-select: none;
    transition-property: filter, transform, background-size, opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN:after {
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    content: "\a";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    opacity: 0
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN:hover:after {
    opacity: 1
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN:hover {
    transform: scale(1.02);
    z-index: 100;
    box-shadow: 0px 0px 30px #000;
    border-bottom: 2px solid #ff6046
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN:hover .blogcapsule_Desc_471NM {
    height: 120px;
    opacity: 1;
    transform: translateY(0px)
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN .blogcapsule_Date_3kp_O {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-bottom: 8px;
    z-index: 2
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN .blogcapsule_Desc_471NM {
    font-size: 18px;
    color: rgba(255, 255, 255, .7);
    z-index: 2;
    margin-left: 20px;
    margin-bottom: 0px;
    opacity: 0;
    transform: translateY(20px);
    height: 0px;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-property: height, opacity, transform
}

.blogcapsule_BlogCapsule_3OBoG .blogcapsule_Entry_2P4kN .blogcapsule_Title_39UGs {
    margin: 0px 10px 8px 20px;
    text-shadow: 0px 0px 10px #000;
    font-family: "Reaver", serif;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 24px;
    line-height: 115%;
    color: #fff;
    z-index: 2
}





microheader_Tooltip_3YhxF {
    text-transform: uppercase;
    letter-spacing: 1px
}

.microheader_CarouselFade_3h_Bh {
    mask-image: linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%)
}

@font-face {
    font-family: "Radiance";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Radiance";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Radiance";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Goudy Trajan";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Goudy Trajan";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Goudy Trajan";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot");
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Noto Sans";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Noto Sans";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-semibold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Noto Sans";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/notosans-bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Averia Serif Libre";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Averia Serif Libre";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/averiaseriflibre-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "Reaver";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Reaver";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "Reaver";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Reaver";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Reaver";
    src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal
}

.microheader_StandardButton_3mkXB {
    border: 3px solid rgba(255, 255, 255, .3137254902);
    padding: 15px 25px;
    margin: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition-duration: .2s
}

.microheader_StandardButton_3mkXB:hover {
    border: 3px solid #ff6046;
    transform: translateY(-2px);
    color: #ff6046
}

.microheader_StandardButton_3mkXB .microheader_ButtonText_jIe9r {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff
}

.microheader_StandardButton_3mkXB .microheader_Icon_3vDBW {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat
}

.microheader_StandardButton_3mkXB .microheader_Icon_3vDBW.microheader_Play_14TOJ {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/icon-play.svg")
}

.microheader_StandardButton_3mkXB .microheader_SteamLogo_3qSrv {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg")
}

.microheader_ToolTip_3cFBj {
    background-color: #36363e;
    color: #ddd;
    max-width: 250px;
    border: 1px solid #2d2d33;
    border-radius: 3px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    z-index: 99999
}

.microheader_MicroHeader_U7wdC {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0px 30px;
    background-color: #000;
    position: relative
}

.microheader_MicroHeader_U7wdC.microheader_Overlapping_2RDnz {
    top: 0;
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0)
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_DotaLogo_ZFf5S {
    width: 200px;
    min-width: 200px;
    height: 50px;
    min-height: 50px;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .8;
    margin-right: 40px
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_DotaLogo_ZFf5S:hover {
    opacity: 1;
    cursor: pointer
}

@media(max-width: 1300px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_DotaLogo_ZFf5S {
        background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_symbol.png");
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px
    }
}

@media(max-width: 900px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_DotaLogo_ZFf5S {
        display: none
    }
}

@media(max-width: 700px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_DotaLogo_ZFf5S {
        display: block
    }
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative
}

@media(max-width: 700px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc {
        justify-content: center
    }
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp {
    font-size: 18px;
    font-family: "Reaver", serif;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: .8;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 0px;
    margin: 0px 20px;
    text-transform: uppercase;
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0)
}

@media(max-width: 700px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp {
        display: none
    }

    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp.microheader_Active_3ulNR {
        display: flex
    }
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp.microheader_GameDropdown_2cfJE {
    border: 2px solid rgba(0, 0, 0, 0);
    transition-duration: .2s;
    padding: 12px 20px;
    margin: 0px
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp.microheader_GameDropdown_2cfJE.microheader_Active_3ulNR {
    padding: 12px 20px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(244, 244, 244, .2);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .6);
    transition-duration: .2s
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp.microheader_Active_3ulNR {
    border-bottom: 3px solid #ff6046;
    opacity: 1
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp:hover {
    opacity: 1;
    cursor: pointer
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp.microheader_StoreLink_VEHD2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp .microheader_DownArrow_1VjIj {
    width: 10px;
    height: 6px;
    opacity: .9;
    margin-left: 5px
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_NavLink_15Uwp .microheader_UpRightArrow_RsneX {
    width: 24px;
    height: 24px;
    margin: 0px 4px;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/arrow_left.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateZ(135deg);
    filter: brightness(0.7)
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_GameDropdownContents_18ww9 {
    position: absolute;
    top: 64px;
    left: 0;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgba(244, 244, 244, .2);
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 10000;
    min-height: 0;
    display: flex;
    flex-direction: column;
    transition-duration: .2s;
    border: 2px solid rgba(255, 255, 255, .6)
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_GameDropdownContents_18ww9.microheader_Hidden_3P4BK {
    opacity: 0;
    pointer-events: none;
    transition-duration: .2s
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_GameDropdownContents_18ww9 a {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 5px;
    opacity: .8;
    text-transform: uppercase;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: .2s
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_NavItems_3WYkc .microheader_GameDropdownContents_18ww9 a:hover {
    opacity: 1;
    cursor: pointer;
    transition-duration: .2s;
    transform: translateX(5px)
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq {
    display: flex;
    flex-direction: row;
    align-items: center
}

@media(max-width: 700px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq {
        display: none
    }
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z {
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Login_1RIIB {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .5647058824)
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Login_1RIIB:hover {
    color: #fff
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Login_1RIIB.microheader_Hidden_3P4BK {
    display: none
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Account_lcq6h {
    font-size: 18px;
    margin-bottom: 4px;
    color: #fff;
    display: flex;
    flex-direction: row
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Account_lcq6h.microheader_Hidden_3P4BK {
    display: none
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Account_lcq6h .microheader_Logout_rirOy {
    margin-left: 4px;
    color: #999
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_AccountLanguage_22B7Z .microheader_Account_lcq6h .microheader_Logout_rirOy:hover {
    color: #ccc
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_PlayForFree_3viea .microheader_StandardButton_3mkXB {
    margin: 10px 0px 10px 20px
}

@media(max-width: 1200px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_OptionsSide_11feq .microheader_PlayForFree_3viea {
        display: none
    }
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_MobileHamburger_MM-C2 {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    padding: 10px 0px 10px 10px;
    margin-left: 40px;
    opacity: .8;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer
}

@media(max-width: 700px) {
    .microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_MobileHamburger_MM-C2 {
        display: flex
    }
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_MobileHamburger_MM-C2:hover {
    opacity: 1
}

.microheader_MicroHeader_U7wdC .microheader_HeaderContents_RsnZk .microheader_MobileHamburger_MM-C2 .microheader_HamburgerSlice_vkYBh {
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 2px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #0f0f0f;
    display: none;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: .1s
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74.microheader_Show_hLuNN {
    opacity: 1;
    pointer-events: unset;
    display: flex
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_Header_2H33B {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_Header_2H33B .microheader_DotaLogo_ZFf5S {
    width: 200px;
    min-width: 200px;
    height: 50px;
    min-height: 50px;
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 20px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_Header_2H33B .microheader_CloseButton_1cGE- {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 26px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_MobileOption_3IxVZ {
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
    color: #fff;
    font-family: "Reaver", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_MobileOption_3IxVZ .microheader_Arrow_3k0_X {
    width: 16px;
    height: 24px;
    margin-right: 18px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_MobileSubOptionList_3GiVq {
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 4px 0px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_MobileSubOptionList_3GiVq .microheader_MobileSubOption_2HVs2 {
    width: 100%;
    height: 30px;
    background-color: #0f0f0f;
    color: #cacaca;
    font-family: "Reaver", serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_MobileSubOptionList_3GiVq .microheader_MobileSubOption_2HVs2 .microheader_Arrow_3k0_X {
    width: 8px;
    height: 12px;
    margin-left: 4px;
    margin-top: 1px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_LineSeparator_YWlJq {
    width: 100%;
    height: 1px;
    background-color: #494949
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 {
    width: 100%;
    flex-grow: 1;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi .microheader_Login_1RIIB {
    font-size: 18px;
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .5647058824)
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi .microheader_Login_1RIIB.microheader_Hidden_3P4BK {
    display: none
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi .microheader_Account_lcq6h {
    font-size: 18px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    margin-left: 20px
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi .microheader_Account_lcq6h.microheader_Hidden_3P4BK {
    display: none
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi .microheader_Account_lcq6h .microheader_Logout_rirOy {
    margin-left: 4px;
    color: #999
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_LoginLanguage_204pi .microheader_Account_lcq6h .microheader_Logout_rirOy:hover {
    color: #ccc
}

.microheader_MicroHeader_U7wdC .microheader_MobilePopup_27Q74 .microheader_BottomSection_1E5o8 .microheader_PlayForFree_3viea .microheader_StandardButton_3mkXB {
    width: calc(100% - 20px);
    margin: 10px 0px 10px 10px
}